.ABC {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #1791d3;
  color: white;
  font-style: bold;
  overflow: hidden;
  height: 100px;
}
h1 {
	color: red;
}
.AAA{
  display: flex;
}
