.AAA {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  background: yellow;
  color: white;
  font-style: bold;
  overflow: hidden;
  height: 400px;
}
h1 {
	color: red;
}
