$small: 100px;
$medium: 700px;
$large: 960px;

.AAA {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: red;
  color: white;
  font-style: bold;
  overflow: hidden;
  height: $small;
}
h1 {
	color: red;
}
.BBB{
  display: flex;
  background: purple;
}
.BBB::after{
  content : '-------';
}
.CCC:after{
  background: #ccc;
  height: 100px;
  width: 200px;
  text-align: center;
  position: relative;
}


div.CCC {
    background: #ccc;
    height: 100px;
    width: 200px;
    text-align: center;
    position: relative;
}

div.CCC:before {
    background: #0c0;
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 200px;
    top: 0;
}

div.CCC:after {
    background: #c00;
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    right: -200px;
    top: 0;
}
