$small: 400px;
$medium: 700px;
$large: 960px;

$susy:(
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

body{
  background: #eee;
}

.ABC {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #1791d3;
  color: white;
  font-style: bold;
  overflow: hidden;
  height: $small;
}
h1 {
	color: red;
}
.AAA{
  display: flex;
}
